[data-theme="dark"] {
  background-color: rgb(27, 27, 27) !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] #profile-header .overlay,
.profile-cover .overlay {
  background-image: url(../images/background-dark.svg) !important;
}

[data-theme="dark"] #profile-about h2 {
  color: white !important;
}

[data-theme="dark"] #profile-about .profile-social-icons li a {
  background: #0a0a0a !important;
}

[data-theme="dark"] #profile-about span {
  color: white !important;
}

[data-theme="dark"] #profile-work img, #profile-work a {
  -webkit-filter:brightness(85%);
  -moz-filter:brightness(85%);
  filter:brightness(85%);
}

[data-theme="dark"] .work .desc {
  background: rgba(0, 0, 0, 0.9) !important;
}

[data-theme="dark"] .work .desc h3{
  color: white !important;
}

[data-theme="dark"] .work .desc span{
  color: rgb(212, 212, 212) !important;
}

[data-theme="dark"] #profile-resume h2 {
  color: white !important;
}

[data-theme="dark"] .timeline-badge {
  background-color: #0a0a0a !important;
}

[data-theme="dark"] .timeline:before {
  background-color: #333 !important;
}

[data-theme="dark"] #profile-resume .timeline-title {
  color: white !important;
}

[data-theme="dark"] #profile-resume .company {
  color: rgb(173, 173, 173) !important;
}

[data-theme="dark"] #profile-resume span {
  color: white !important;
}

[data-theme="dark"] #profile-features .feature-left .icon {
  background-color: #333 !important;
}

[data-theme="dark"] #profile-features .feature-left .icon i {
  color: white !important;
}

[data-theme="dark"] #profile-skills h2 {
  color: white !important;
}

[data-theme="dark"] #profile-skills .img-learned {
  fill: white !important;
}

[data-theme="dark"] .profile-bg-dark {
  background: #0a0a0a !important;
}

[data-theme="dark"] .darkmode a {
  background: rgba(0, 0, 0, 0.8);
}

[data-theme="dark"] .gototop a {
  background: rgba(0, 0, 0, 0.8);
}